// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2CA1FF;
$dark-blue: #1B2242;
$light-blue: #8BCDFF;
$light-purple: #9A97FF;
$bright-purple: #500EA1;
$yellow: #FDB631;
$orange: #E67E22;
$green: #9AEAE9;
$gray: #d8d9d4;
$purple: #432763;
$light-gray: #F4F4F4;


// GRAY
$dark-gray: #4A4A4A;
$gray: #D0D0D0;
$medium-gray: #7E7E7E;
$light-gray: #F4F4F4;


$light-yellow : #FFF74E;
