h1, h2, h3, h4, p {
  color: $dark-gray;
}
h1{
  font-size: 60px;
  font-family: $headers-font;
}
h2{
  font-family: $body-font;
}
h3{
  font-size: 1.8rem;
  font-family: $body-font;
}
h4{
  font-size: 1.5rem;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: 600;
}
h5{
  font-size: 1rem;
  font-family: $body-font;
}
a{
  color: $dark-gray;
  &:hover{
    color: $light-purple;
  }
}
.lv-one-page{
  background-color: $light-purple;
  color: white;
  a, h1 {
    color: white;
    &:hover {
      color: $light-blue;
    }
  }
}
