h1{
  font-size: 60px;
  font-family: $headers-font;
  color: $dark-gray;
}
h2{
  color: $dark-gray;
  font-family: $body-font;
}
h3{
  font-size: 1.8rem;
  font-family: $body-font;
}
h4{
  font-size: 1.5rem;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: 600;
  color: $dark-gray;
}
a{
  color: $dark-blue;
  &:hover{
    color: $purple
  }
}
.lv-one-page{
  background-color: $light-purple;
}
