.plan-wrapper {
  background-color: $light-purple;
  .plan-title {
    color: white;
  }
  .plan-board {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      width: 790px;
      border-radius: 15px;
    }
    height: 570px;
    background-color: white;
    padding: 60px;
    text-align: justify;
    i {
      color: $green;
    }
    .plan-board-title {
      line-height: 1.4;
      font-size: 20px;
      font-weight: 600;
    }
    .plan-card-photo {
      width: 200px;
      height: 200px;
      margin-top: -25px;
      background-size: cover;
      border-radius: 50%;
      border: 3px dotted yellow;
    }
    .plan-card {
      position: relative;
      background-image: linear-gradient(-180deg, #D76385 9%, #FF9674 46%, #FDDA53 90%);
      border-radius: 15px;
      width: 270px;
      height: 440px;
      margin-left: auto;
      padding: 20px;
      box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.07), 6px 9px 9px 0 rgba(0, 0, 0, 0.03);
      color: white;
      .plan-card-title {
        font-size: 18px;
      }
      .plan-price-wrapper {
        position: absolute;
        left: 34px;
        top: 120px;
        .plan-price {
          font-size: 88px;
          font-weight: 500;
          margin-bottom: 0;
          letter-spacing: -10px;
          line-height: 1;
        }
      }
      .plan-card-bottom {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 90px;
        bottom: 0;
        left: 0;
        color: $dark-gray;
        border-radius: 0 0 15px 15px;
        font-size: 20px;
        border: none;
        &:hover {
          background-color: $yellow;
          color: white;
          cursor: pointer;
        }
      }
      .plan-card-duration {
        width: calc(100% - 40px);
        background-color: white;
        height: 50px;
        bottom: 20px;
        position: absolute;
        border-radius: 8px;
        padding: 10px;
        color: $dark-gray;
        text-align: center;
      }
    }
  }
}

