  <div class="mb-5">
    <h5 class="mb-3"><span class="mr-3"><%= t('.about') %></span></h5>
    <% if @user.description %>
      <p><%= @user.description %></p>
    <% else %>
      <h5 class="bg-light p-3"><%= t('.description_none') %></h5>
    <% end %>
  </div>

  <div class="mb-5">
    <h5 class="mb-3"><span class="mr-3"><%= t('.photos') %></span></h5>
    <div class="d-flex flex-row">
      <div class="photo_placeholder mr-3 flexbox">
        <i class="fas fa-camera"></i>
      </div>
      <div class="photo_placeholder mr-3 flexbox">
        <i class="fas fa-camera"></i>
      </div>
      <div class="photo_placeholder mr-3 flexbox">
        <i class="fas fa-camera"></i>
      </div>
    </div>
  </div>

