<div class="col-12 center">
  <div class="row">
    <div class="col-12 mosaic-header mb-5">
      <h5>Moderation</h5>
      <div class="d-flex flex-row flex-wrap">
        <% @groups.each do |group| %>
          <%= render "shared/button_form_simple", local: { model: :group,
                                                    path: users_path,
                                                    attribute: :name,
                                                    value: group,
                                                    btn_text: "#{group} #{@unvalidated_hosts_count}",
                                                    count: @users_count[group],
                                                    btn_extra_class: "btn-light-purple mr-2 #{"btn-green" if @group_name == group}",
                                                    } %>
        <% end %>
      </div>

    </div>

    <div class="col-12 mosaic-header">
      <p class="title"><%= @group_name %><span class="badge badge-pill badge-success ml-3"> moderator only</span></p>
    </div>

    <%= render "user_group" if @user_group %>
    <%= render "comment_group" if @comments %>

    <div class="col-12 mosaic-footer">
    </div>
  </div>
</div>
