<div class="container-fluid mosaic">
  <div class="row">
    <% if @map %>
      <div class="col-7">
        <%= render "mosaic" %>
      </div>
      <div class="col-5">
        <%= render "shared/map" %>
      </div>
    <% else %>
      <div class="col-12">
        <%= render "mosaic" %>
      </div>
    <% end %>

  </div>
</div>
