<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple mosaic">
    <%#= render "shared/buttons", mosaic: false, action: true %>
    <div class="container">
      <div class="row">
        <%#= render "header" %>
        <%#= render "self_profile" %>
        <%= render "mosaic" %>
      </div>
    </div>
  </div>
</div>
<%#= render "shared/over_footer" %>
