<div class="container-fluid mosaic">
  <div class="row">
    <% if @map && !moderation %>
      <div class="col-7">
        <%= render "mosaic" %>
      </div>
      <div class="col-5">
        <%= render "shared/map" %>
      </div>
    <% else %>
      <div class="col-12">
        <%= render moderation ? "mosaic_moderate" : "mosaic" %>
      </div>
    <% end %>
  </div>
</div>

