<div class="full-width">
  <%= simple_form_for query, url: content[:path], method: content[:method] do |f| %>
    <%= f.input attribute, label: content[:label],
                          placeholder: content[:placeholder],
                          input_html: {value: session[:comment] || "",
                                       cols: 5,
                                       rows: 5,
                                       resize: "none" },
                          id: "textarea",
                          as: :text  %>
    <div class="row">
    <div class="col-12">
      <%= f.button :submit, value: content[:btn_text], data: { disable_with: "" }, class:"btn btn-blue" %>
    </div>
    </div>
  <% end %>
</div>
