<div class="full-width">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for :message, url: content[:path], method: content[:method] do |f| %>
        <%= f.input :comment, label: content[:label],
                              placeholder: content[:placeholder],
                              input_html: {value: content[:value] || "",
                                           cols: 5,
                                           rows: 5,
                                           resize: "none" },
                              id: "textarea",
                              as: :text  %>
        <%= f.input :hidden_value, input_html: {value: content[:current_id] }, as: :hidden %>
        <div class="row">
        <div class="col-12">
          <%= f.button :submit, value: content[:btn_text], data: { disable_with: "" }, class:"btn btn-blue" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
