<div class="about">
  <div class="banner" style="background-image: url('http://res.cloudinary.com/dfcsmghw4/image/upload/v1536854278/photo-1529148266338-1a3f1f4ec096.jpg');">
    <div class="maintitle">
      <h1>Charte de La Voyageuse</h1>
    </div>
  </div>
  <div class="content">
    <h3 class="margin-bottom-big">Enjoy La Voyageuse in 4 easy steps :</h3>
    <p><strong>1. Sign up</strong></p>
    <p class="margin-bottom-big">Sign up and fill up your personal information. Choose between freemium and premium membership. Personalise your profile by adding your profile photo, home photos (hosts only), a short introduction of yourself...etc. Show our community how amazing you are!</p>
    <p><strong>2. Get verified</strong></p>
    <p class="margin-bottom-big">La Voyageuse implements an unique initial and a continuous profile verification to ensure the most trusted global community between women. Upon sign up, you will be asked to verify your personal profile in 4 steps</p>
    <p><strong>3. Search</strong></p>
    <p class="margin-bottom-big">Now you are all set! You can start exploring travel stories and local friends from all over the world with a peace of mind! You can search for accommodations, advices and people who want to hang out with you!
  </p>
    <p><strong>4. Start planning !</strong></p>
    <p class="margin-bottom-big">Simply click on the profiles and contact whoever you want to hang out with, to get to know more about, to get travel tips from, or to stay with! Discover who they are as a person, send them a request for accommodation, or exchange messages with each other to help you plan a safer, unforgettable solo trip! Get ready (and excited!) to meet trustworthy girl friends !</p>

    <div class="bar-separator"></div>

    <h3 class="margin-bottom-big">Safety Tips :</h3>

    At La Voyageuse, your safety is our priority. Please read below safety tips carefully before your departure:

    <p><strong>Travel & Medical Insurance</strong></p>
    <p>We strongly recommend that you purchase comprehensive travel and medical insurance to cover the country (or countries) that you are traveling in.</p>

    <p><strong>Visas</strong></p>
    <p>It’s a good idea to look up visa requirements, as each country varies. Make sure you leave plenty of time before your departure to get a visa sorted out if required.</p>

    <p><strong>Local Language</strong></p>
    <p>It’s always a good idea to learn a bit of the local language before you travel there. It’s also the best way to show your respect towards local people.</p>

    <p><strong>Common Sense & Instinct</strong></p>
    <p>Having a common sense while traveling is the key. If something doesn’t feel right, don’t do it. Trust your instinct. It’s a good idea always to tell someone you trust (your family or your close friends) where you’re going and what your plans are. We suggest that you send them a copy of your itinerary and local contact number before your departure.</p>

    <p><strong>Mobile Phone & SIM Card When You Are Aboard</strong></p>
    <p>We recommend that you check out whether your phone will work abroad or if you can pick up a cheap local SIM card when you arrive so you will be able to make phone calls or send texts locally.</p>

    <p><strong>Plenty of Contact</strong></p>
    <p>Before staying with a hostess or arranging to meet other solo female travelers through the Hangout service we recommend that you have plenty of contact with them beforehand to understand each other’s expectations and preferences.</p>

    <p><strong>Vaccinations</strong></p>
    <p>We recommend that you check about necessary vaccinations in the area you are travelling to and ensure that your vaccinations are up-to-date.</p>

    <p><strong>Have A Backup Plan</strong></p>
    <p>In case something doesn’t work out with your hostess in the unexpected circumstances, make sure you have an alternate place to stay. Meanwhile, please report to our Safety Team if such case occurs. Identify the nearest hostel or hotel, or have a backup hostess in place before you go. If possible, research your hostess’s neighborhood prior to arriving. Some of hostesses may offer to pick you up from an airport or a bus/ metro station, but always look up how to get to and from her home on your own in case of change of plan. If you’re heading to an event or joining a Hangout, look up the location prior to attending.</p>

    <p><strong>Travel Research </strong></p>
    <p>Be sure you’re aware of cultural and religious differences, sensitivities, and general safety recommendations for each place that you travel. Check government websites for travel advice in different countries and do your own research. We recommend you research things such as attitudes towards women, codes of dress, rules on alcohol etc. That way you might avoid making your first ‘faux-pas’ the moment you step off the plane!</p>


    <p><strong>Communicate Through La Voyageuse</strong></p>
    <p>Use only La Voyageuse website to communicate. Confirming trips and keeping all communication on La Voyageuse helps our Safety Team identify issues and react quickly. Never give out your phone number or email address to anyone outside La Voyageuse website until you meet and feel comfortable with them.
    Be Aware of Your Surroundings and Know Your Limits
    Stay alert at all times. Avoid dark alleys when you walk home in the night alone. Do not stay out late at night alone. Do not trust people easily. You can enjoy yourself and have some fun but don’t go over the limit and don’t put your safety and well-being in the hands of others.</p>

    <p><strong>Leave References</strong></p>
    <p>Use the reference system to let others on La Voyageuse know about your experiences with the people you meet. We will also send you a private questionnaire for you to rate your experience in full confidentiality with your hostesses/ travelers after your homesharing experience.</p>

    <p><strong>Report Negative Experiences</strong></p>
    <p>Our Safety Team works continuously to help build the safest and most trusted community possible. Reporting safety concerns to La Voyageuse helps us improve our community’s trust and safety. Confidentially report safety concerns as soon as it occurs and we will investigate and take necessary measures accordingly.</p>

    <div class="bar-separator"></div>

    <h3 class="margin-bottom-big">Don't forget: </h3>

  </div>
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dfcsmghw4/image/upload/v1536852011/photo-1491438590914-bc09fcaaf77a.jpg);">
    <div class="main-title">
      <h1>have fun!</h1>
    </div>
  </div>
</div>
