<section>
  <div class="fullscreen under-navbar flexbox lv-one-page" style="background-image: url('https://res.cloudinary.com/dfcsmghw4/image/upload/v1537431371/illustrations/pexels-photo-185933.jpg');">
    <%= render "shared/contact_form" %>
  </div>
</section>
