<div class="banner">
  <div class="maintitle">
    <h1>The World is yours, too !</h1>
    <h3>Nous connectons des voyageuses solo avec des hébergeuses de confiance dans le monde entier</h3>
  </div>
</div>
