<div class="banner">
  <div class="maintitle">
    <h1>The World is yours, too !</h1>
    <h3 class="margin-bottom-medium">Nous connectons des voyageuses solo avec des hébergeuses de confiance dans le monde entier</h3>
    <div class="btn btn-light-purple btn-round">Je suis une voyageuse</div>
    <div class="btn btn-blue btn-round">Je suis une hébergeuse</div>
  </div>
</div>
