<div class="banner">
  <div class="maintitle">
    <h1>The World is yours, too !</h1>
    <h3>Nous connectons des voyageuses solo avec des hébergeuses de confiance dans le monde entier</h3>
    <div class="btn btn-light-purple btn-round">Je suis une voyageuse</div>
    <div class="btn btn-blue btn-round">Je suis une hébergeuse</div>
  </div>
</div>
<div class="qualities flex-line">
  <div class="square-button flex-column">
     <i class="fas fa-lock"></i>
     <p>SECURITY</p>
  </div>
  <div class="square-button flex-column">
     <i class="fab fa-angellist"></i>
     <p>FEMINITY</p>
  </div>
  <div class="square-button flex-column">
     <i class="far fa-comments"></i>
     <p>COMMUNITY</p>
  </div>
  <div class="square-button flex-column">
     <i class="far fa-gem"></i>
     <p>AUTHENTICITY</p>
  </div>
</div>
<div class="reasons">
  <h1>3 raisons de rejoindre la voyageuse</h1>

</div>
