<div style="padding-top:56px;">
  <table style="border-spacing:0;border-collapse:collapse;text-align:left;vertical-align:top;padding:0;width:100%;display:table;">
    <tbody><tr style="padding:0;vertical-align:top;text-align:left;">
      <th style="font-size:16px;text-align:left;line-height:1.3;color:#0a0a0a;font-weight:normal;padding:0;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px;">
        <hr style="clear:both;max-width:580px;border-right:0;border-bottom:1px solid #cacaca;border-left:0;border-top:0;background-color:#dbdbdb;min-height:2px;width:100%;border:none;margin:auto;">
        <div class="-pad-bot-4" style="padding-bottom:32px;">
        </div>
        <a rel="nofollow" target="_blank" href="http://www.la-voyageuse.com" style="font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;color:#2199e8;text-decoration:none;">
        <p style="padding:0;margin:0;text-align:left;margin-bottom:10px;color:#9ca299;font-size:14px;font-weight:300;line-height:1.4;">
          Envoyé avec ♥ par La Voyageuse
        </p>
        <p class="" style="padding:0;margin:0;text-align:left;margin-bottom:10px;color:#9ca299;font-size:14px;font-weight:300;line-height:1.4;">
          <a rel="nofollow" target="_blank" href="http://www.la-voyageuse.com">La Voyageuse - Bordeaux</a>
        </p>
  <!--       <p style="padding:0;margin:0;text-align:left;margin-bottom:10px;color:#9ca299;font-size:14px;font-weight:300;line-height:1.4;">
          <a rel="nofollow" class="yiv5384376078m_-7089709681913400939muted" target="_blank" href="http://www.la-voyageuse.com" style="font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;color:#9ca299;text-decoration:underline;">
            Gagnez une soirée en amoureux
          </a>
        </p> -->
        <p style="padding:0;margin:0;text-align:left;margin-bottom:10px;color:#9ca299;font-size:14px;font-weight:300;line-height:1.4;">
        </p>
      </th>
      </tr>
    </tbody>
  </table>
</div>
