.pastille {
  border-radius: 8px;
  width: 75px;
  height: 75px;
  color: white;
  background-color: $dark-gray;
  font-size: 28px;
  float: left;
  margin-right: 10px;
  &.pastille-small {
    width: 56px;
    height: 56px;
    font-size: 15px;
  }
  &.pastille-yellow {
    background-color: $yellow;
  }
  &.pastille-blue {
    background-color: $blue;
  }
  &.pastille-green {
    background-color: $green;
  }
  &.pastille-white {
    background-color: $white;
    color: $dark-gray;
    &:hover {
      background-color: $white;
    }
    i, a, p {
      color: $dark-gray;
      &:hover {
        color: $light-purple;
      }
    }
  }
  &.pastille-red {
    background-color: $red;
    color: $white;
  }
  &.pastille-light-purple {
    background-color: $light-purple;
  }
  &.pastille-small {
    width: 30px;
    height: 30px;
  }
  &.pastille-close {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 500;
    margin-right: 0;
    height: 56px;
    width: 56px;
    &.second {
      right: 50px;
    }
    &.third {
      right: 90px;
    }
  }
}
