.form_login{
  font-family: $body-font;
  color: white;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 485px;
  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
  }
  h4 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
  .breadcrumb {
    margin-bottom: 25px;
  }
  .step {
    background-color: white;
    color: $dark-gray;
  }
  .sign-out {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 28px;
    color: white;
  }
}
@media (max-device-width: 569px ) {
  .form_login{
    position: relative;
    width: 100%;
    background-color: $light-purple;
    z-index: 600;
    padding: 10px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: calc(100vh - 70px);
  }
}
.login-box {
  position: relative;
  width: 100%;
  min-width: 350px;
  background-color: white;
  border-radius: 8px;
  padding: 25px 30px 30px 30px;
  color: $dark-gray;
  p {
    color: $dark-gray;
  }
  @include media-breakpoint-up(xs) { .login-fields { height: 470px; }}
  @include media-breakpoint-down(xs) { .login-fields { min-height: 500px; }}
  @include media-breakpoint-down(xs) { .login-fields-small { min-height: 330px; }}
  .login-fields-tall {
    min-height: 530px;
  }
  .input-parent {
    position: relative;
    i {
      position: absolute;
      right: 10px;
      top: 12px;
      font-size: 20px;
      color: #7E7E7E;
    }
  }
  input {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    &.numeric {
      width: 80px;
    }
  }
  input#profile_photo {
    height: 100px;
  }
  input[type="submit"]{
    background-color: $blue;
    color: white;
    border: none;
    font-size: 16px;
  }
  .checkbox{
    @include media-breakpoint-up(md) {
      input#user_remember_me {
        width: 25px;
        height: 16px;
      }
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
    }
  }
  .form-actions {
    width: 100%;
    .login-button {
      margin-bottom: 10px;
      width: 100%;
    }
    button {
      bottom: 0px;
      left: 30px;
      background-color: $blue;
      border: 0px;
      color: white;
    }
  }
  .upload-container {
    margin-bottom: 20px;
  }
  .img-examples-container {
    width: 100%;
  }
  .img-examples {
    position: relative;
    margin-bottom: 18px;
    i {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      border: 1px solid white;
      bottom: 5px;
      right: 20px;
      z-index: 603;
    }
  }
  .img-illustration {
    img {
      width: 200px;
      background-color: $light-gray;
      border-radius: 50%;
      margin-top: 20px;
    }
  }
  .img-example {
    height: 65px;
    border-radius: 8px;
    background-size: cover;
    z-index: 602;
  }
  .img-example {
    width: 100%;
    border-radius: $border-radius;
  }
  .info-frame {
    border: 4px solid #FAFAFA;
    border-radius: 15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px;
    position: relative;
    .info-title {
      margin-bottom: 0px;
      // color: $medium-gray;
    }
    .fa {
      margin-right: 5px;
    }
    .info-frame-title {
      font-size: 10px;
      color: $blue;
      background-color: white;
      border: 5px solid white;
      position: absolute;
      top: -15px;
      right: 10px;
    }
  }
}
