.mosaic {
  min-height: calc(100vh - 70px);
  background-color: $dark-purple;
  color: white;
  a {
    color: white;
    &:hover{
      color: $light-purple;
    }
  }
  .mosaic-header {
    height: 100px;
    padding-top: 50px;
    p {
      color: white;
    }
  }
  .mosaic-footer {
    height: 100px;
  }
  .pastille_action {
    position: absolute;
    top: 5%;
    height: 5%;
  }
}
.page-wrapper {
  border-radius: $border-radius;
  box-shadow: $shadow;
  @include media-breakpoint-down(lg) { padding: 20px 5px 20px 5px; }
  @include media-breakpoint-up(lg) { padding: 40px 25px 40px 25px; }
}
.buttons-menu {
  position: absolute;
  right: 2%;
  @include media-breakpoint-down(xs) { top: 75px; }
  @include media-breakpoint-up(xs) { top: 100px; }
  z-index: 500;
}
